<div class="text-white space-y-1">
    <div class="w-[164px] h-[110px] md:w-[220px] md:h-[140px] xl:w-[280px] xl:h-[174px] relative overflow-hidden rounded-lg group">

        <img src="https://media.istockphoto.com/id/455076581/photo/mobile-device-with-near-field-communication.jpg?b=1&s=612x612&w=0&k=20&c=mqFmMJrEcCA2XVTKTBML4NDLaZkI_MIWMJ_h6BeROiU=" 
        alt="movie-image"
        class="w-full h-full object-cover transition-transform duration-500 ease-in-out transform group-hover:scale-110">

        <div class="absolute inset-0 bg-black bg-opacity-50 transition-opacity duration-500 ease-in-out opacity-0 group-hover:opacity-100"></div>

        <div class="absolute cursor-pointer inset-0 flex justify-center items-center opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100">
            <div class="bg-white bg-opacity-45 w-[120px] p-2 rounded-full flex gap-4 items-center text-white">
                <div>
                    <img src="/assets/icon-play.svg" alt="icon-play">
                </div>
                <p>Play</p>
            </div>
        </div>

        <button class="absolute top-4 right-4 bg-darkblue hover:bg-white bg-opacity-50 p-2 rounded-full">
            <img src="/assets/icon-bookmark-empty.svg" alt="bookmark-empty">
        </button>
  
    </div>

    <div class="flex gap-3 items-center font-light text-sm text-grey">
        <p>2019</p>
        <div class="bg-grey h-1 w-1 rounded-full"></div>

        <div class="flex gap-3 items-center">
            <div>
                <img src="/assets/icon-category-movie.svg" alt="">
            </div>
            <p>Movie</p>
        </div>
        <div class="bg-grey h-1 w-1 rounded-full"></div>

        <p>PG</p>
    </div>
    <p class='text-xl font-medium'>The Great Lands</p>
</div>
