<div class='p-4'>
  <app-search (search)="onSearch($event)"></app-search>

  <div *ngIf="loading$ | async" class="flex justify-center items-center mt-20">
    <div class="loader"></div>
  </div>

  <div *ngIf="error$ | async as errorMsg" class="text-white mt-20">
    Error loading movies: {{ errorMsg }}
  </div>

  <div *ngIf="!(loading$ | async) && !(error$ | async)">
  <h2 class="text-white py-4 text-2xl">TV Series</h2>

  <div *ngIf="(filteredTvSeries$ | async) as filteredTvSeries">

    <div *ngIf="searchTermValue?.trim() && filteredTvSeries.length > 0" class="py-2">
      <p class="text-white">
        Found {{ filteredTvSeries.length }} {{ filteredTvSeries.length === 1 ? 'result' : 'results' }} for '{{ searchTermValue }}'
      </p>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6">
      <ng-container *ngFor="let series of filteredTvSeries">
        <app-movie-card [movie]="series"></app-movie-card>
      </ng-container>
    </div>

    <div *ngIf="searchTermValue?.trim() && filteredTvSeries.length === 0" class='flex justify-center items-center xl:p-40'>
      <p class='text-white'>No TV Series found for '{{ searchTermValue }}'.</p>
    </div>
  </div>
  </div>
</div>
