<div class="text-white space-y-1 relative">
    <div class="w-[470px] h-[230px] relative overflow-hidden rounded-lg group">

        <img [src]="movie.thumbnail.trending?.large" 
        alt="movie-image"
        class="w-full h-full object-cover transition-transform duration-500 ease-in-out transform group-hover:scale-110">

        <div class="absolute inset-0 bg-black bg-opacity-50 transition-opacity duration-500 ease-in-out opacity-55 group-hover:opacity-100"></div>

        <div class="absolute cursor-pointer inset-0 flex justify-center items-center opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100">
            <div class="bg-white bg-opacity-45 w-[120px] p-2 rounded-full flex gap-4 items-center text-white">
                <div>
                    <img src="/assets/icon-play.svg" alt="icon-play">
                </div>
                <p>Play</p>
            </div>
        </div>

        <button class="absolute top-4 right-4 bg-darkblue bg-opacity-50 p-2 rounded-full hover:bg-" (click)="toggleBookmark(movie)">
            <img [src]="movie.isBookmarked ? '/assets/icon-bookmark-full.svg' : '/assets/icon-bookmark-empty.svg'" alt="bookmark-icon">
        </button>

    </div>

    <div class='absolute bottom-0 p-4'>
    <div class="flex gap-3 items-center font-light text-sm text-grey">
        <p>{{movie.year}}</p>
        <div class="bg-grey h-1 w-1 rounded-full"></div>

        <div class="flex gap-3 items-center">
            <div *ngIf="movie.category === 'Movie'; else tvIcon">
              <img src="/assets/icon-category-movie.svg" alt="movie-icon">
            </div>
            <ng-template #tvIcon>
              <img src="/assets/icon-category-tv.svg" alt="tv-icon">
            </ng-template>

            <p>{{movie.category}}</p>
        </div>
        <div class="bg-grey h-1 w-1 rounded-full"></div>

        <p>{{movie.rating}}</p>
    </div>
    <p class='text-xl font-medium'>{{movie.title}}</p>
    </div>

</div>